/* Partie sidebar */
.sidebar{
  width: 23.9%;
  margin-right: 10vh;
  font-family: 'Crimson Text', serif;
  font-weight: bolder;
  font-size: 4vh;
  }
.sidebar h3{
    font-family: 'Crimson Text', serif;
    font-weight: normal;
    font-size: 2vh;
  }
.sidebar a{
  text-decoration: none;
  color: white;
}
.sidebar i{
  size: 200%;
}
.sidebar .social  a:hover{
  background-color: black;
  opacity: 0.5;
}
.sidebar ul{
  list-style: none;
}
.sidebar .social a{
  margin-left: 1.5vw;
  text-align: center;
  display: inline-block;
  background-color: #555555;
  color: white;
  width: 25px;
  padding: 0 10px;
  border-radius: 100%;
  opacity: 1;
}
.facebook{
}
.twitter{

}
.instagram{

}
.sidebar-picture{
  margin-top: 8vh;
}
